// aurora-theme-base :: Elements

a { 
  color: inherit;
  transition: color $ae-theme-transition-time;

  &:hover {
    color: $ae-theme-active-color;
    text-decoration: none;
  }
}

blockquote {
  border-left: 0;
  font-family: $ae-theme-font-serif;
  padding-left: 0;

  footer {
    font-family: $ae-theme-font-family;
  }
}